/.idea
/datasets/amasum_shoes_test.json
/datasets/amasum_shoes_train.json
/datasets/amasum_shoes_valid.json
/datasets/peermeta_dev.json
/datasets/peermeta_test.json
/datasets/space_dev.json
/datasets/space_test.json
/eval_auto/peermeta_generations_full.json
/eval_auto/space_generations_full.json
/eval_auto/amasum_shoes_generations_full.json
/eval_human/meta_reviews/generations_amasum_shoes.json
/eval_human/meta_reviews/generations_peermeta.json
/eval_human/meta_reviews/generations_space.json
/eval_human/intermediate/sampled.json
